.sub-header {
    background-color: #a4c639;
    color: #fff; 
    padding: 15px 0;
}

.sub-header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.left-info span {
    color: #fff;
    margin-right: 20px;
    font-size: 14px;
}

.right-icons {
    display: flex;
    list-style: none;
    gap: 10px;
}

.right-icons li a {
    color: #fff; 
    font-size: 14px;
    transition: 0.3s;
}

.right-icons li a:hover {
    color: #a4c639; 
}

.button-sidebar{
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
    transition: 0.3s;
    display: flex;
    
  
}

.button-sidebar .navbar-brand{
    text-decoration: none;

}

.button-sidebar:hover {
    background-color: #fff;
}

.collapse.navbar-collapse{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin:0 auto;
}

.collapse .navbar-nav {
    display: flex;
    gap: 40px;  

}

.collapse .navbar-nav li {
    list-style: none;
}
.collapse .navbar-nav  li a {
    color: #171515;
    font-size: 1.25rem;
    transition: 0.3s;
    text-decoration: none;

}
.collapse .navbar-nav li a:hover{
    color:#a4c639;
    text-decoration: underline;
}

